@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
margin: 0px;
padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: var(--cor11);
    font-family: var(--fonte-padrao);
}

:root{
    --cor0: #0D0E26;
    --cor1: #4A5914;
    --cor2: #D7F205;
    --cor3: #AABF06;
    --cor4: #0D0D0D;
    --cor5: #D9AD2B;
    --cor6: #2669BF;
    --cor7: #2A7ABF; 
    --cor8: #A69B03;
    --cor9: #8EFA2F;
    --cor10: #FAE82F;
    --cor11: #3252F0;

    --fonte-padrao: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-titulo: "Mukta", sans-serif;
    --fonte-texto: "Oswald", sans-serif;
}

header {
    background-color: var(--cor0);
    color: var(--cor9);
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
    font-family: var(--fonte-titulo);
}

header > p {
    padding-bottom: 50px;
    font-size: 7vw;
    font-family: var(--fonte-titulo);
}

nav {
    background-color: var(--cor9);
    color: var(--cor0);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.336);
    text-align: center;
}

nav > a{
    color: var(--cor0);
    padding: 3vh;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
    font-size: 4vh;
    font-family: var(--fonte-texto);
}

nav > a:hover {
    background-color: var(--cor0);
    color: var(--cor9);
}

a {
    color: white;
    text-decoration: none;
}

main {
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 20%;
}

  ::-webkit-scrollbar {
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background:  var(--cor9);
    border-radius: 25px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--cor0);
    border-radius: 25px;
  }
  

  .container {
    box-sizing: border-box;  
    display: flex;
    gap: 20px;
    max-width: 400px;
    width: 100%;
    background: var(--cor0);
    border-radius: 12px;
    padding: 30px;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    padding-inline: 35px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  }

  .container a {
    color: var(--cor9);
}
  
  .container .card {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 12px;
    background: var(--cor0);
    scroll-snap-align: start;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  }
  
  
  .card .image {
    height: 150px;
    width: 150px;
    padding: 4px;
    background: var(--cor11);
    border-radius: 40%;
  }
  
  .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  
  .card h2 {
    margin-top: 30px;
    color: var(--cor9);
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }
  
  
  .card p {
    padding-top: 5%;
    margin-top: 4px;
    font-size: 18px;
    font-weight: 400;
    color: var(--cor9);
    text-align: center;
  }




footer {
    display: block;
    background-color: var(--cor0);
    color: var(--cor1);
    text-align: center;
}

.footer {
    font-size: 0.9em;
}

.footer .principal {
    padding: 60px 35px 40px 50px;
}

.footer .menu-footer {
    margin-bottom: 75px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    text-align: initial;
}

.footer .menu-footer > li {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
}

.footer .links {
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--cor9);
}

.lista {
    padding-left: 0;
    list-style: none;
}

.footer .menu-footer .submenu li {
    display: block;
    margin-bottom: 7px;
}

.footer .footer-menu a {
    display: block;
    color: white;
    text-decoration: none;
}

#devs {
    font-size: 1.1em;
    background-color: var(--cor9);
    color: var(--cor0);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}